@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="keywords" content="@ViewBag.ArticleTitle" />
    <meta name="description" content="@ViewBag.ArticleTitle" />
    <link rel="stylesheet" href="http://app.1hangye.com/Assets/adimg/style.css" />
    <LINK href="favicon.ico" type="image/x-icon" rel=icon>
    <meta name="author" content="">
    <style>
        body {
            background: #856D35;
        }

        #page {
            max-width: 750px;
        }

        header {
            background: #000000;
        }
    </style>
    <script src="http://app.1hangye.com/Assets/Scripts/jquery-1.11.3.min.js" type="text/javascript"></script>

    <script src="http://app.1hangye.com/Assets/Scripts/addcus.js?v=@DateTime.Now.ToString("hhmmss")" type="text/javascript"></script>

    <script src="http://app.1hangye.com/Assets/adimg/diqu.js" type="text/javascript"></script>

    <script src="http://app.1hangye.com/Assets/adimg/baobao/not3.js" type="text/javascript"></script>
    <script src="http://app.1hangye.com/Assets/adimg/baobao/notorder.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            new PCAS("province", "city", "area");
            function scollDown(id, time) {
                var liHeight = $("#" + id + " ul li").height();
                var time = time || 2500;
                setInterval(function () {
                    $("#" + id + " ul").prepend($("#" + id + " ul li:last").css("height", "0px").animate({
                        height: liHeight + "px"
                    }, "slow"));
                }, time);
            }

            scollDown("pingjia", 3000);
            scollDown("fahuo", 3000);

        });
    </script>

    <title>@ViewBag.Title</title>
</head>
<body style="max-width:750px;margin:0px auto;">
    <div>
        @Html.Raw(Server.HtmlDecode(ViewBag.Content))
    </div>
    <div style="display:none;">
        @Html.Raw(Server.HtmlDecode(ViewBag.StaticContent))
        @Html.Raw(Server.HtmlDecode(ViewBag.UserCode))
    </div>
    <div style="display:none;">
        @Html.Raw(Server.HtmlDecode(ViewBag.ArticleContent))
    </div>
    <article>
        <h2>订单信息</h2>
        <!--订单-->
        <div class="cpshuoming">
            <p style="margin-top: 0px; margin-bottom: 0px; box-sizing: border-box; font-family: 微软雅黑; font-variant-ligatures: normal; orphans: 2; white-space: normal; widows: 2; line-height: 24px; background-color: rgb(249, 249, 249);"><span style="margin: 0px; box-sizing: border-box; color: rgb(75, 172, 198);"><strong style="margin: 0px; box-sizing: border-box;">在线订购：</strong></span>因订单过多，电话接通较慢，请直接在本页底部填表下单<strong style="margin: 0px; box-sizing: border-box;"><span style="margin: 0px; box-sizing: border-box; color: rgb(255, 0, 0);"> </span></strong></p><p style="margin-top: 0px; margin-bottom: 0px; box-sizing: border-box; font-family: 微软雅黑; font-variant-ligatures: normal; orphans: 2; white-space: normal; widows: 2; background-color: rgb(249, 249, 249);"><span style="margin: 0px; box-sizing: border-box; line-height: 24px; color: rgb(227, 108, 9);"><strong style="margin: 0px; box-sizing: border-box;">特别提醒：</strong></span><span style="margin: 0px; box-sizing: border-box; line-height: 24px;">我们会在24小时内给您致电确认订单，请亲一定要高抬贵手接听下电话哦！</span></p><p style="margin-top: 0px; margin-bottom: 0px; box-sizing: border-box; font-family: 微软雅黑; font-variant-ligatures: normal; orphans: 2; white-space: normal; widows: 2; line-height: 24px; background-color: rgb(249, 249, 249);"><span style="margin: 0px; box-sizing: border-box; color: rgb(118, 146, 60);"><strong style="margin: 0px; box-sizing: border-box;"></strong></span><span style="margin: 0px; box-sizing: border-box; color: rgb(118, 146, 60);"><strong style="margin: 0px; box-sizing: border-box;">拆包验货：</strong></span>如遇部分快递小哥不让拆包还请亲及时联系我们来解决！谢谢！</p><p style="margin-top: 0px; margin-bottom: 0px; box-sizing: border-box; font-family: 微软雅黑; font-variant-ligatures: normal; orphans: 2; white-space: normal; widows: 2; line-height: 24px; background-color: rgb(249, 249, 249);"><strong style="margin: 0px; box-sizing: border-box;"><span style="margin: 0px; box-sizing: border-box; color: rgb(192, 0, 0);">售后处理</span></strong><span style="margin: 0px; box-sizing: border-box;">：&nbsp;</span></p><p><br /></p><p><br /></p>
        </div>
        <style>
            #order .chanpin label {
                border: 1px #ccc solid;
                padding: 0px 13px;
                float: left;
                margin-right: 7px;
                display: inline;
                margin-bottom: 6px;
                overflow: hidden;
                position: relative;
                cursor: pointer;
                border-radius: 2px;
                line-height: 33px;
                vertical-align: middle;
                background: #ffffff;
            }

            #order .chanpin input[type="radio"] {
                display: none;
            }

            #order .chanpin .now {
                background: #f66;
                border: 1px solid #ccc;
                color: #ffffff;
                text-shadow: 0 0 0 #fff;
            }

            #order .chanpin label:hover {
                background: #f66;
                border: 1px solid #FC9F9F;
                color: #ffffff;
                text-shadow: 0 0 0 #fff;
            }
        </style>

        <div id="order">
            <script>var notzfbzk = "0";</script>
            <input type="hidden" id="hidPrice" value="79" />
            <div id="buy" class="warp">
                <div>
                    <input type="hidden" name="orderid" id="orderid" value="">
                    <input type="hidden" name="hidColor" id="hidColor" value="">
                    <input type="hidden" name="hidSize" id="hidSize" value="">
                    <div class="bdbox">
                        <label class="bdxx"><em>*</em>产品</label>
                        <div class="dxbox red chanpin not3chanpin0">

                            <label class="now"><input type="radio" name="product" id="a0" value="BODI至尚贵族七匹英伦新款真皮男士手包狼雷纳森LEINASEN圣堡斯丹79元" alt="79" checked onclick="pricea();yincang();">&nbsp;BODI至尚贵族七匹英伦新款真皮男士手包狼雷纳森LEINASEN圣堡斯丹&nbsp;&nbsp;79元</label>

                        </div>
                    </div>
                    <!--附加属性b-->


                    <div class="bdbox">
                        <label class="bdxx"><em>*</em>产品颜色</label>
                        <div class="dxbox  chanpin not3chanpin1">

                            <label><input type="radio" name="chanpin1" value="黑色">&nbsp;黑色</label>

                            <label style="color: #A67D3D;"><input type="radio" name="chanpin1" value="棕色">&nbsp;棕色</label>

                        </div>
                    </div>


                    <div class="bdbox" style="display:none;">
                        <label class="bdxx"><em>*</em>产品尺寸</label>
                        <div class="dxbox red chanpin not3chanpin2">

                            <label><input type="radio" checked name="chanpin2" value="39码">&nbsp;39码</label>

                            <label><input type="radio" name="chanpin2" value="40码">&nbsp;40码</label>

                            <label><input type="radio" name="chanpin2" value="41码">&nbsp;41码</label>

                            <label><input type="radio" name="chanpin2" value="42码">&nbsp;42码</label>

                            <label><input type="radio" name="chanpin2" value="43码">&nbsp;43码</label>

                            <label><input type="radio" name="chanpin2" value="44码">&nbsp;44码</label>

                        </div>
                    </div>

                    <!--附加属性e-->

                    <input value="0" id="zsid" type="hidden">
                    <div id="zengsong" style="display:none">
                        <!--赠送属性b-->
                        <!--赠送属性e-->
                    </div>

                    <div class="bdbox">
                        <label class="bdxx"><em>*</em>数量</label>

                        <a class="jian" href="javascript:;" onclick="minnumber()">-</a>
                        <input type="text" class="shuliang" size="4" value="1" name="mun" id="mun" onblur="inputnumber();" readonly>
                        <a class="jia" href="javascript:;" onclick="addnumber()">+</a>
                    </div>
                    <div class="bdbox">
                        <label class="bdxx"><em>*</em>姓名</label>
                        <div class="textbox">
                            <input type="text" id="txtRealName" name="name">
                        </div>
                    </div>
                    <div class="bdbox">
                        <label class="bdxx"><em>*</em>手机</label>
                        <div class="textbox">
                            <input type="text" id="txtPhone" name="mob">
                        </div>
                    </div>
                    <div class="bdbox">
                        <label class="bdxx"><em>*</em>地区</label>
                        <div class="xlbox">
                            <select name="province" id="ddlprovince" class="dqxl"></select><select name="city" id="ddlcity" class="dqxl"><option value="">选城市</option></select><select name="area" id="ddlarea" class="dqxl"><option value="">选地区</option></select>
                        </div>
                    </div>
                    <div class="bdbox">
                        <label class="bdxx"><em>*</em>地址</label>
                        <div class="textbox">
                            <input type="text" id="txtAddress" name="address">
                        </div>
                    </div>
                    <div class="bdbox">
                        <label class="bdxx"><em>*</em>金额</label>
                        <div class="text3box">
                            <input type="hidden" name="zfbprice" value="79" />
                            <input name="price" id="txtprice" value="79" readonly style="width:80px;"> 元 <span id="zfbyh"></span>
                        </div>
                    </div>
                    <div class="bdbox">
                        <label class="bdxx"><em>*</em>付款</label>
                        <div class="dxbox">
                            <input type="radio" checked="checked" name="pay" id="b1" value="cod" onclick="return changeItem(0);"><label for="b1"><img src="http://app.1hangye.com/Assets/adimg/xie/hdfk.gif"></label>
                        </div>
                    </div>

                    <div class="bdbox">
                        <label class="bdxx">留言</label>
                        <div class="text2box">
                            <textarea id="txtRemark" name="guest"></textarea>
                        </div>
                    </div>

                    <script>getfrom();</script>
                    <div class="subbox">
                        <input type="submit" onclick="postcheck()" name="submit" value="立即提交订单">
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>
        </div>
        <script>
            xianshi();
            var shuxing = new Array("产品颜色", "产品尺寸");
            var zsshuxing = new Array();
            var not3chanpin = new Array("101爆款网布鞋（买一送一）");
            var chanpin1 = new Array("黑色+灰色", "黑色+浅蓝", "灰色+浅蓝", "黑色+黑色", "灰色+灰色", "浅蓝+浅蓝");
            var chanpin2 = new Array("39码", "40码", "41码", "42码", "43码", "44码");
            var chanpin3 = new Array();
        </script>

        <div id="fahuo">

            <script src="http://app.1hangye.com/Assets/adimg/baobao/fahuo.js" type="text/javascript"></script>
        </div>

        <!--订单-->
    </article>


    <footer>
        <p><center><img src="http://app.1hangye.com/Assets/adimg/baobao/foot.png"></center></p>
        <p><center></center></p>
    </footer>
    <div style="display:none;">
        <input type="hidden" id="__hidAdId" value="@ViewBag.AdId" />
        <input type="hidden" id="__hidAdUserId" value="@ViewBag.AdUserId" />
    </div>
</body>
</html>
