@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.js" type="text/javascript"></script>
    <meta name="keywords" content="@ViewBag.ArticleTitle" />
    <meta name="description" content="@ViewBag.ArticleTitle" />

    <title>@ViewBag.Title</title>
    <style>
        .contincter {
            margin: 0 auto;
            padding: 0;
            max-width: 750px;
        }
        .weixinhaoma{background-color:white;}
        .wxbutton{background-color:red;color:white;}
    </style>
    <script type="text/javascript">
        $(function () {
             var wx = "@ViewBag.QcodeImg2";

            //微信
            var weixiarr = wx.split(',');
            var numb = weixiarr.length;
            var eq = Math.round(Math.random() * (numb - 1));
            console.log(eq);

            var rwx = weixiarr[eq];

            $(".weixinhaoma").text(rwx);
        })
    </script>
</head>
<body style="height:100%;max-width:750px;margin:0px auto;">

    <div class="contincter">
        @Html.Raw(ViewBag.TemplateContent)
    </div>

</body>
</html>
